HOST=0.0.0.0
PORT=1337
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_ACCESS_SECRET=AWS_ACCESS_SECRET
AWS_REGION=AWS_REGION
AWS_S3_BUCKET=AWS_S3_BUCKET
DATABASE_CLIENT=mongo
DATABASE_NAME=DATABASE_NAME
DATABASE_HOST=DATABASE_HOST
DATABASE_PORT=DATABASE_PORT
DATABASE_USERNAME=DATABASE_USERNAME
DATABASE_PASSWORD=DATABASE_PASSWORD